main{
    flex: 1;
    padding: 20px;
}

.container{
    width: 100%;
    height: 150vh;
    background-image: url(dark-blue-background-with-abstract-graphic-elements_181182-612.jpg);
    background-position: center;
    background-size: cover;
}

.containerV2{
    width: 100%;
    height: 150vh;
    background-image: url(c1bee41c-638c-40ea-8435-05f022bf6ccb.jpg);
    background-position: center;
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    background-color: black;
}

ul{
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

li{
    float: left;   
}

li a{
    color: aquamarine;
    font-size: 24;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}

li a:hover{
    color: paleturquoise;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    width:250px;
    border: 5px solid darkblue;
    padding: 20px;
    margin: 10px;
}

.product img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.product h2{
    color: black;
    background-color: cadetblue;
    margin-top: 10px;
}

.product p{
    color: black;
    margin-top: 10px;
}